
<footer>
    <div class="footer-column">
      <a href="#" class="footer-column-top"><img src="/gr-logo-white.svg" alt=""></a>
      <a class="terms-and-conditions" href="https://tre.ge/en/privacy">terms and conditions</a>
      <h6 class="footer-column-middle">2024 © TREWELL Digital inc. All Rights Reserved</h6>
    </div>
    <div class="footer-column">
      <h5 class="footer-column-top">Tbilisi to Regions</h5>
      <h6 class="footer-column-middle">Tbilisi - Batumi</h6>
      <h6 class="footer-column-middle">Tbilisi - Foti</h6>
    </div>
    <div class="footer-column">
      <h5 class="footer-column-top">Regions to Tbilisi</h5>
      <h6 class="footer-column-middle">Batumi - Tbilisi</h6>
      <h6 class="footer-column-middle">Foti - Tbilisi</h6>
    </div>
    <div class="footer-column">
      <h5 class="footer-column-top">Need our help?</h5>
  
      <a href="" class="footer-column-help"><i class="bi bi-telephone"></i><p>032 2 42 04 05</p></a>
      <a href="" class="footer-column-help"><i class="bi bi-envelope"></i><p>support{{'@'}}gmail.com</p></a>
      <a href="" class="footer-column-help"><i class="bi bi-messenger"></i><p>messenger</p></a>
      <a href="" class="footer-column-help"><i class="bi bi-facebook"></i><p>facebook</p></a>
    </div>
  </footer>