
<footer>
    <div class="footer-column">
      <a href="#" class="footer-column-top"><img src="/gr-logo-white.svg" alt=""></a>
      <a class="terms-and-conditions" href="https://tre.ge/en/privacy">{{ 'FOOTER.TERMS-AND-CONDITIONS' | translate }}</a>
      <h6 class="footer-column-middle">{{ 'FOOTER.CORP' | translate }}</h6>
    </div>
    <div class="footer-column">
      <h5 class="footer-column-top">{{ 'FOOTER.TBILISI-TO-REGIONS' | translate }}</h5>
      <h6 class="footer-column-middle">{{ 'FOOTER.TBILISI-BATUMI' | translate }}</h6>
      <h6 class="footer-column-middle">{{ 'FOOTER.TBILISI-FOTI' | translate }}</h6>
    </div>
    <div class="footer-column">
      <h5 class="footer-column-top">{{ 'FOOTER.REGIONS-TO-TBILISI' | translate }}</h5>
      <h6 class="footer-column-middle">{{ 'FOOTER.BATUMI-TBILISI' | translate }}</h6>
      <h6 class="footer-column-middle">{{ 'FOOTER.FOTI-TBILISI' | translate }}</h6>
    </div>
    <div class="footer-column">
      <h5 class="footer-column-top">{{ 'FOOTER.NEED-OUR-HELP' | translate }}</h5>

      <a href="" class="footer-column-help"><i class="bi bi-telephone"></i><p>032 2 42 04 05</p></a>
      <a href="" class="footer-column-help"><i class="bi bi-envelope"></i><p>support{{'@'}}gmail.com</p></a>
      <a href="" class="footer-column-help"><i class="bi bi-messenger"></i><p>{{ 'FOOTER.MESSENGER' | translate }}</p></a>
      <a href="" class="footer-column-help"><i class="bi bi-facebook"></i><p>{{ 'FOOTER.FACEBOOK' | translate }}</p></a>
    </div>
  </footer>
