<section class="main-sec">
    <form class="train-search-form" action="">
        <h2>Find Your Train Schedule</h2>


        <div class="form-options">
            <div class="from-to-buttons-wrapper">

                <div class="from-destination-wrapper">
                  <app-destination-select id="app-destination-select-from"></app-destination-select>
                </div>
                <div class="to-destination-wrapper">
                  <app-destination-select id="app-destination-select-to"></app-destination-select>
                </div>
            </div>

            <app-datepicker #dateDeparture [purpose]="'departure'"></app-datepicker> 
            <app-datepicker #dateReturn [purpose]="'return'"></app-datepicker> 


            <button>Search Train</button>
        </div>
        <button (click)="onSubbmit()">Test ahh shit</button>
    </form>


    <div class="response-trains">
      <app-train-tickets></app-train-tickets>
    </div>
</section>