.main-sec
    margin: auto
    // background-color: #fafafa
    width: 95%
    min-height: 705px
    padding-top: 18px

    .train-search-form
        width: 100%
        height: auto
        padding-bottom: 36px
        // background-color: var(--light-white-color)
        background-image: url('/railway-bg-desktop.png')
        background-color: #fafafa
        border: solid var(--border-color)
        border-radius: 15px
        display: flex
        flex-direction: column
        align-items: flex-start

        .train-search-title
            margin-top: 25px
            padding-left: 55px
            color: #fff

        .form-options
            width: 100%
            margin-top: 50px
            align-items: center
            // justify-content: space-between
            gap: 15px
            display: flex
            flex-wrap: wrap
            padding: 0 50px

            .from-to-buttons-wrapper
                display: flex

        .submit-btn
            padding: 13px 24px
            // border: solid var(--border-color)
            background: rgb(255,18,85)
            background: radial-gradient(circle, rgba(255,18,85,1) 0%, rgba(255,35,72,1) 50%, rgba(255,63,51,1) 100%)
            border: none
            font-weight: 700
            border-radius: 15px

            i.bi-search
                font-size: 25px
                color: white

    .response-trains
        width: 100%
        min-height: calc( 100% - 250px - 20px)
        margin-top: 20px
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        gap: 15px
        padding-bottom: 15px

        //cst styling
        flex-direction: column

        app-train-tickets
            width: 100%

.from-destination-wrapper
    border-radius: 15px 0 0 15px
    border: solid var(--border-color)
    overflow: hidden
    border-right: none

.to-destination-wrapper
    border-radius: 0 15px 15px 0
    border: solid var(--border-color)
    overflow: hidden
    border-left: none


.nothing-found-div
    height: 340px
    min-height: 340px
    margin-top: 3.2%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    .trains-not-found
        color: var(--secondary-text-color) !important


