.seat
    width: 70px
    height: 70px
    // border: solid var(--border-color)
    border-radius: 15px

.BSN
    background-color: #b667f4

.I
    background-color: #f5ac3f

.II
    background-color: #3fa9f5 

.occupied
    background-color: #eeeeee !important