.mat-mdc-text-field-wrapper
    width: 50px !important !important
    z-index: 0
    background-color: red !important

    
mat-form-field
    flex: auto
    min-width: 0
    width: 20px !important
    position: relative
    background-color: red !important
    box-sizing: border-box

a
    color: black
    font-size: 90px
