<nav>
    <mat-form-field class="language-dropdown">
        <mat-select [(value)]="selectedLanguage">
            <mat-option value="option1">GEO</mat-option>
            <mat-option value="option2">ENG</mat-option>
            <mat-option value="option3">RUS</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="currency-dropdown">
        <mat-select [(value)]="selectedCurrency">
            <mat-option value="option1">GEL</mat-option>
            <mat-option value="option2">USD</mat-option>
            <mat-option value="option3">RUB</mat-option>
        </mat-select>
    </mat-form-field>
</nav>

<a href="">test this shiiit</a>