<section class="booked-tickets-wrapper">
    <div *ngIf="loaderService.isLoading | async" class="loader">
        <mat-spinner></mat-spinner>
    </div>

    <h1 class="my-bookings-text">{{ 'BOOKED-TICKETS.MY-TICKETS' | translate}}</h1>

    <div *ngIf="myTickets.length == 0" class="nothing-here-div">
        <h1>{{ 'BOOKED-TICKETS.NO-BOOKINGS-YET' | translate }}</h1>
        <p>{{ 'BOOKED-TICKETS.YOU-CAN-ALWAYS-SEARCH-FOR' | translate }}
            <a routerLink="/search-trains" >{{ 'BOOKED-TICKETS.TRAIN-TRIPS' | translate }}</a>
        </p>
    </div>

    <app-booked-ticket *ngFor="let ticket of myTickets" [ticketData]="ticket">
        <!-- <app-ticket-pdf [ticketData]="ticket"></app-ticket-pdf> -->
    </app-booked-ticket>
</section>
