::ng-deep .mdc-line-ripple::after
    display: none


#destination_select_btn::ng-deep .mdc-text-field--filled
    background-color: transparent !important
    border: none !important
    border-radius: 0px !important 

::ng-deep .mat-mdc-form-field-subscript-wrapper
    display: none

::ng-deep .mdc-line-ripple::before
    display: none

::ng-deep .mdc-text-field--filled
    background-color: transparent !important
    border: solid var(--border-color)
    border-radius: 15px !important

*
    color: white

::ng-deep .ng-tns-c1711764913-1
    color: white !important

::ng-deep .ng-tns-c1711764913-3
    color: white !important

::ng-deep .ng-star-inserted
    color: white !important