<div class="selected-seats">
    <div class="selected-seat">
        <h5 class="user">Price : {{ seatData.price }}₾</h5>
        <h5 class="place">Place: {{ seatData.number }}</h5>
    </div>

    <div class="user-inputs">
        <input type="text" class="user-input name-input" placeholder="Person name">
        <input type="text" class="user-input last-name-input" placeholder="Person last-name">
        <input type="text" class="user-input personal-id-input" placeholder="Person private number">
    </div>

</div>