<div class="seat">
    <div class="qr-code">
        <qrcode
        [qrdata]="person.seat.seatId"
        [allowEmptyString]="true"
        [ariaLabel]="'QR Code image with the following content...'"
        [cssClass]="'center'"
        [colorDark]="'#000000ff'"
        [colorLight]="'#ffffffff'"
        [elementType]="'canvas'"
        [errorCorrectionLevel]="'Q'"
        [imageSrc]="'./assets/angular-logo.png'"
        [imageHeight]="75"
        [imageWidth]="75"
        [margin]="1"
        [scale]="1"
        [title]="'A custom title attribute'"
        [width]="100"
      ></qrcode>
    </div>
    <div class="seat-info">
        <div class="seat-price seat-info-boxes">
            <h4 class="seat-template-info">Price</h4>
            <h4 class="gotten-seat-info">{{ person.seat.price }}₾</h4>
        </div>
        <div class="seat-class seat-info-boxes">
            <h4 class="seat-template-info">Class</h4>
            <h4 class="gotten-seat-info">II</h4>
        </div>
        <div class="seat-row seat-info-boxes">
            <h4 class="seat-template-info">Row</h4>
            <h4 class="gotten-seat-info">{{ person.seat.number }}</h4>
        </div>
        <div class="seat-column seat-info-boxes">
            <h4 class="seat-template-info">Column</h4>
            <h4 class="gotten-seat-info">{{ person.seat.number }}</h4>
        </div>
    </div>
</div>