.seat 
    width: 100%
    height: 100px
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 20px


    .qr-code
        width: 100px
        height: 100px
        background-color: grey

        qrcode
            width: 100%
            height: 100%

    .seat-info
        background-color: #f4f5ff
        height: 100%
        width: 70%
        display: grid
        grid-template-rows: 1fr
        grid-template-columns: repeat(4, 1fr)
        place-items: center
        border-radius: 8px
        margin-left: auto
        margin-right: 18px

        .seat-info-boxes
            display: flex
            flex-direction: column
            align-items: center

            .gotten-seat-info
                color: #2c2f59

            .template-seat-info
                color: #6c5494    

#cancle_button
    height: 100%
    width: 40px
    border-radius: 6px
    border: none
    background-color: #e63946
    color: white

@media (max-width: 645px)
    .seat
        flex-direction: column
        height: auto !important
        gap: 15px
        align-items: flex-start
        border-bottom: solid var(--border-color) 2px
        padding-bottom: 20px

    .seat-info
        width: 100% !important
        padding: 20px 0
        padding-right: 15px

    #cancle_button
        height: 45px !important
        width: 200px !important
        border-radius: 6px
        border: none
        background-color: #e63946
        color: white

@media ( max-width: 430px )
    #cancle_button
        height: 45px !important
        width: 100% !important

    .h4, h4 
        font-size: 17px !important

    
    