// @import '../_styles/_themes'
    
// $main-text: #393939
// $secondary-text: #818da2
// $border-primary: #e8e8e8
// $dimmed-white: #F7F7F7
// $dimmed-white-hover: #edeae7
// $bi-hover: #195ce9

p
  margin-top: 15px !important

.menu-toggled
  width: 78px

  .aside-top
    display: flex
    align-items: center
    justify-content: center
    padding-left: 0px

  .aside-mid
    align-items: center

    .aside-mid-link
      font-family: Calibri-bold
      font-weight: 600
      text-decoration: none
      color: var(--secondary-text-color)
      font-size: 18px
      display: flex
      align-items: center
      justify-content: center
      width: 50px

      &:hover
        border-radius: 15px
        color: var(--main-text-color)
        background-color: var(--dimmed-white-hover-color)
        padding-left: 0px !important
        text-align: center

      .bi
        margin-right: 0px

  .aside-bottom
    display: flex
    align-items: center
    justify-content: center
    padding-left: 0px !important
    width: 100%

    .language-aside-wrapper
      display: none !important

    .aside-bottom-buttons
      height: 100px
      display: flex
      align-items: center
      justify-content: center

      .aside-bottom-option
        border: none
        background-color: transparent
        font-family: Calibri-bold
        font-size: 18px
        width: 100%
        display: flex
        align-items: center
        justify-content: center
        height: 50px
        width: 50px

        & > p
          color: var(--secondary-text-color)
          font-weight: 600

        .bi
          color: var(--secondary-text-color)
          margin-right: 0px !important

        &:hover
          background-color: var(--dimmed-white-hover-color)
          padding-left: 0px !important
          border-radius: 15px

          & > p
            color: var(--main-text-color)

          .bi
            color: var(--bi-hover-color)
            margin-right: 0px !important

.aside-link-hidden
  & > p
    display: none
    text-align: center

aside
  background-color: var(--dimmed-white-color)
  display: grid
  grid-template-rows: 1fr 10fr 1fr
  grid-auto-columns: 1fr
  height: 100vh
  width: 270px
  border-right: solid var(--border-color) 3px
  transition: none
  justify-content: center

  .aside-top
    display: flex
    align-items: center
    justify-content: flex-start
    gap: 15px
    padding-left: 15px

    .menu-toggler
      border: none
      background-color: transparent
      font-size: 22px
      font-weight: 700

      .bi
        color: var(--secondary-text-color)

      &:hover
        border-radius: 15px
        color: var(--main-text-color)
        background-color: var(--dimmed-white-hover-color)
        padding: 5px 10px

        .bi
          color: var(--bi-hover-color)

  .aside-mid
    display: flex
    flex-direction: column
    padding-top: 10px
    border-bottom: solid var(--border-color) 3px
    border-top: solid var(--border-color) 3px

    .aside-mid-link
      font-family: Calibri-bold
      font-weight: 600
      text-decoration: none
      color: var(--secondary-text-color)
      font-size: 18px
      height: 50px
      display: flex
      align-items: center
      margin: 0px 15px

      & > p
        color: var(--secondary-text-color)

      .bi
        color: var(--secondary-text-color)
        font-size: 18px
        margin-right: 10px

      &:hover
        border-radius: 15px
        color: var(--main-text-color)
        background-color: var(--dimmed-white-hover-color)
        padding-left: 10px
        text-align: center

        & > p
          color: var(--main-text-color)

        .bi
          color: var(--bi-hover-color)

  .aside-bottom
    display: flex
    flex-direction: column

    .aside-bottom-buttons
      height: 100px
      display: flex
      align-items: center
      justify-content: flex-start
      padding: 0 15px

      .aside-bottom-option
        border: none
        background-color: transparent
        font-family: Calibri-bold
        font-size: 18px
        width: 100%
        display: flex
        align-items: center
        justify-content: flex-start
        height: 50px

        & > p
          color: var(--secondary-text-color)
          font-weight: 600

        .bi
          color: var(--secondary-text-color)
          margin-right: 10px
          transform: rotate(0deg)
          transition: 1s

        &:hover
          background-color: var(--dimmed-white-hover-color)
          padding-left: 10px
          border-radius: 15px

          & > p
            color: var(--main-text-color)

          .bi
            color: var(--bi-hover-color)
            margin-right: 15px
            transform: rotate(80deg)

    .profile
      .profile-icon
        width: 60px
        height: 60px
        border-radius: 15px




.language-aside-wrapper
  height: 50px !important
  // background-color: beige