<aside [class.menu-toggled]="sideBarToggled">
    <section class="aside-top">
        <button class="menu-toggler" (click)="toggleSideBar()"><i class="bi bi-list"></i></button>
    </section>

    <section class="aside-mid">
        <a [class.aside-link-hidden]="sideBarToggled" class="aside-mid-link" routerLink="/home"><i class="bi bi-house-fill"></i> <p>{{ 'SIDEBAR.HOME' | translate }}</p></a>
        <a [class.aside-link-hidden]="sideBarToggled" class="aside-mid-link" routerLink="/search-trains"><i class="bi bi-train-front-fill"></i> <p>{{ 'SIDEBAR.SEARCH-TRAINS' | translate }}</p></a>
        <a [class.aside-link-hidden]="sideBarToggled" class="aside-mid-link" routerLink="/search-plains"><i class="bi bi-airplane-fill"></i> <p>{{ 'SIDEBAR.SEARCH-PLAINS' | translate }}</p></a>
        <a [class.aside-link-hidden]="sideBarToggled" class="aside-mid-link" routerLink="/search-bus"><i class="bi bi-bus-front"></i> <p>{{ 'SIDEBAR.SEARCH-BUSSES' | translate }}</p></a>
        <a [class.aside-link-hidden]="sideBarToggled" class="aside-mid-link" routerLink="/my-tickets"><i class="bi bi-ticket-perforated-fill"></i> <p>{{ 'SIDEBAR.MY-BOOKINGS' | translate }}</p></a>
        <a [class.aside-link-hidden]="sideBarToggled" class="aside-mid-link" routerLink="/history"><i class="bi bi-clock-history"></i> <p>{{ 'SIDEBAR.HISTORY' | translate }}</p></a>
    </section>

    <section class="aside-bottom">
        <div class="aside-bottom-buttons">
            <app-theme-options (themeToSidebar)="getThemeFromLanguageOptions($event)"></app-theme-options>
            <button routerLink="/settings" [class.aside-link-hidden]="sideBarToggled" class="settings aside-bottom-option"><i class="bi bi-gear-fill"></i> <p>Settings</p></button>
        </div>
    </section>
</aside>