<aside [class.menu-toggled]="sideBarToggled">
    <section class="aside-top">
        <button class="menu-toggler" (click)="toggleSideBar()"><i class="bi bi-list"></i></button>
    </section>

    <section class="aside-mid">
        <a [class.aside-link-hidden]="sideBarToggled" class="aside-mid-link" routerLink="/home"><i class="bi bi-house-fill"></i> <p>Home</p></a>
        <a [class.aside-link-hidden]="sideBarToggled" class="aside-mid-link" routerLink="/search-trains"><i class="bi bi-train-front-fill"></i> <p>Search Trains</p></a>
        <a [class.aside-link-hidden]="sideBarToggled" class="aside-mid-link" routerLink="/my-bookings"><i class="bi bi-ticket-perforated-fill"></i> <p>My Booking</p></a>
        <a [class.aside-link-hidden]="sideBarToggled" class="aside-mid-link" routerLink="/history"><i class="bi bi-clock-history"></i> <p>History</p></a>
    </section>

    <section class="aside-bottom">
        <div class="aside-bottom-buttons language-aside-wrapper">
           <app-theme-options (themeToSidebar)="getThemeFromLanguageOptions($event)"></app-theme-options>
        </div>
        <div class="aside-bottom-buttons">
            <button routerLink="/settings" [class.aside-link-hidden]="sideBarToggled" class="settings aside-bottom-option"><i class="bi bi-gear-fill"></i> <p>Settings</p></button>
        </div>
    </section>
</aside>