<aside>
    <section class="aside-top">
        <img  class="aside-web-logo" src="https://cdn.pixabay.com/photo/2024/05/26/10/15/bird-8788491_1280.jpg" alt="">
        <div class="aside-top-content">
            <h2 class="web-page-name">RailTickets</h2>
            <p class="web-page-slogan">As Fast As The Trains Speed</p>
        </div>
    </section>

    <section class="aside-mid">
        <a class="aside-mid-link" routerLink="/home"><i class="bi bi-house-fill"></i> Home</a>
        <a class="aside-mid-link" routerLink="/search-trains"><i class="bi bi-train-front-fill"></i> Search Trains</a>
        <a class="aside-mid-link" routerLink="/my-bookings"><i class="bi bi-ticket-perforated-fill"></i> My Booking</a>
        <a class="aside-mid-link" routerLink="/history"><i class="bi bi-clock-history"></i> History</a>
    </section>

    <section class="aside-bottom">
        <div class="aside-bottom-buttons">
            <button class="customer-support aside-bottom-option"><i class="bi bi-life-preserver"></i> Customer Support</button>
        </div>
    </section>
</aside>