<div class="seats-wrapper" #pdfContent>
  <div class="ticket-info">
    <h4 class="trip-name"><span>Seat number : {{ ticketData.ticketNumber }}</span></h4>
  </div>

  <!-- <app-seat *ngFor="let seat of ticketData" [seatInfo]="seat"></app-seat> -->
      <app-seat [data]="ticketData"></app-seat>

  <div class="option-btns-wrapper">
    <!-- <button class="download-tickets ticket-download-option-btns" (click)="passData(); generatePdf()">Download Tickets</button>
    <button class="download-invoice ticket-download-option-btns" (click)="passDataNav()">Download Invoice</button> -->

    <button class="download-tickets ticket-download-option-btns exclude-from-pdf" (click)="generatePDF()">Download Tickets</button>
    <button class="download-invoice ticket-download-option-btns exclude-from-pdf" (click)="underDevelopment()">Download Invoice</button>
  </div>
</div>
