<div class="seats-wrapper">
  <div class="ticket-info">
    <h4 class="trip-name">#{{ ticketData[0].train.number }} {{ ticketData[0].train.name }}</h4>
    <h4 class="trip-train-departure">Departure - {{ ticketData[0].train.date }} {{ ticketData[0].train.departure }}</h4>
    <h4 class="trip-train-departure">Arrival - {{ ticketData[0].train.arrive }}</h4>
  </div>
  


  <!-- <app-seat *ngFor="let seat of ticketData" [seatInfo]="seat"></app-seat> -->
  @for (ticket of ticketData; track $index) {
    @for (person of ticket.persons; track $index) {
      <app-seat [person]="person"></app-seat>
    }
  }
</div>