// @import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css')
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.scss'


@font-face 
    font-family: Calibri 
    src: url('../assets/fonts/calibri-regular.ttf')

@font-face 
    font-family: Calibri-bold
    src: url('../assets/fonts/calibri-bold.ttf')

*
    box-sizing: border-box
    margin: 0
    padding: 0
    color: black
    transition: ease-in-out .2s
    font-family: Calibri