@import '../node_modules/bootstrap-icons/font/bootstrap-icons.scss'
@import './app/_styles/_themes'

@font-face
    font-family: Calibri
    src: url('./assets/fonts/calibri-regular.ttf')

@font-face
    font-family: Calibri-bold
    src: url('./assets/fonts/calibri-bold.ttf')

*
    box-sizing: border-box
    margin: 0
    padding: 0
    color: black
    transition: ease-in-out .2s
    font-family: Calibri


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
    margin-top: 0px
    margin-bottom: 0rem
    font-weight: 600 !important
    line-height: none
    color: none 
