.ticket
    width: 520px
    height: 200px
    background-color: var(--dimmed-white-color)
    border: solid var(--border-color)
    display: flex
    border-radius: 10px

    .ticket-left
        width: 150px
        border-right: dotted var(--light-white-color)
        border-radius: 10px 0 0 10px
        display: flex
        flex-direction: column
        justify-content: space-between
        padding: 15px 15px

        .details
            height: 60px

            p
                color: var(--main-text-color)
                font-weight: 600 !important

            .price
                width: 200px
                color: var(--ticket-price-color)

        img
            width: 100px
            height: 25px
            border: solid #d8d8d8 2px
            border-radius: 15px
            padding: 5px

